

.profile__container {
    border: solid 1px var(--border-color);
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    text-align: center;
    border-radius: 12px;
    backdrop-filter: blur(200px);
}

.profile__ppf {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: solid 5px var(--border-color);

}

.profile__username {
    color: var(--text-color);
}

.profile__stacks {
    display: flex;
    justify-content: space-evenly;
}

.stack-item {
    color: var(--text-color);
    padding: 5px 15px;
    border: solid 1px var(--border-color);
    border-radius: 3px;
}

.profile__input {
    display: none;
}

.profile__ppf::after {
    position: absolute;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    content: "Change";
    background-color: #fff;
    
}