
.project__todos__container {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.project__todos__todos__container {    
    gap: 30px;
    display: flex;
    width: 100%;
    height: 100%;
}

.project__todos__main-part__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

