**/.git
**/.gitignore
**/.vscode
**/.idea

**/node_modules
**/npm-debug.log
**/.env.local
**/.env.development.local

**/bin
**/obj
**/*.csproj.user
**/*.suo

**/dist
**/*.log

docker-compose.override.yml
docker-compose.debug.yml

!server/*.csproj
!client/package.json