services:
  postgresql:
    image: postgres:latest
    hostname: dbservice
    environment:
      POSTGRES_DB: todo
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    depends_on:
      - postgresql


  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:80"  
    depends_on:
      - backend

volumes:
  postgres_data: