.button {
    background: transparent;
    border: none;
    color: var(--text-color);
    padding: 8px;
    text-align: center;
    font-size: 22px;
    border: solid 1px #ffffff11;
    width: 100%;
    box-shadow: 1px 1px 5px #ffffffaa;
    border-radius: 8px;
    transition: .3s;
}

.button:hover {
    box-shadow: -1px -1px 8px #ffffffaa;
    cursor: pointer;
}

.button:active {
    animation: normal click .8s;
}

@keyframes click {
    0% {
        background: linear-gradient(to right, #ffffff11, #000);
    }
    50% {
        background: linear-gradient(to right, #000, #ffffff11, #000);
    }
    100% {
        background: linear-gradient(to right, #000, #ffffff11);
    }
}