
.carousel__item__container {
    flex-grow: 1;
    border: solid 1px var(--border-color);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.carousel__item__header {
    color: var(--text-color);
    text-align: center;
    width: 100%;
    height: 100%;
}

.carousel__item__controls {
    display: flex;
    flex-direction: column;
}

.carousel__item__controls__btn {
    border: none;
    height: 8.7vh;
    padding: 30%;
}

.carousel__item__controls__btn:hover {
    cursor: pointer;
}

.carousel__item__controls__icon {
    height: 100%;
}

#edit-btn {
    background-color: navajowhite;
    border-radius: 0 8px 0 0;
}

#delete-btn {
    background-color: crimson;
    border-radius: 0 0 8px 0;
}

#share-btn {
    background-color: aqua;
}

#edit-btn:hover {
    background-color: rgba(255, 222, 173, 0.85);
}

#delete-btn:hover {
    background-color: rgba(220, 20, 60, 0.85);
}

#share-btn:hover {
    background-color: rgba(0, 255, 255, 0.85);
}