.form__container {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border: solid 1px #ffffff11;
    border-radius: 16px;
    box-shadow: 0 5px 15px #ffffff11;
    backdrop-filter: blur(15px);
    z-index: 1000;
    text-align: center;
}

