
.header__container {
    backdrop-filter: blur(2px);
    z-index: 2000;
    border: solid 1px var(--border-color);
    background-color: var(--background-color-1);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    max-height: 10vh;
    padding: 3vh;
}

.header__btn {
    max-width: 10%;
    padding: 0;
}

.header__profile__container {
    display: flex;
}

.header__profile-picture {
    background-color: #fff;
    border-radius: 50%;
    height:3vh;
    width: 3vh;
}

.header__username {
    color: var(--text-color);
    margin-left: 20px;
    transition: .5s;
}

.header__profile__container:hover > .header__username {
    text-decoration: underline;
}

.header__profile__container:hover {
    cursor: pointer;
}

