
.header__container {
    backdrop-filter: blur(2px);
    z-index: 2000;
    border: solid 1px var(--border-color);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    max-height: 10vh;
    padding: 3vh;
    box-shadow: 1px 2px 8px #ffffffa0;
}

.header__btn {
    max-width: 15vh;
    padding: 0;
    margin-left: 20px;
}

.header__profile__container {
    display: flex;
}

.header__profile-picture__container {
    width: 300px;
    overflow: hidden;
    display: flex;
}

.header__profile-picture {
    background-color: #fff;
    border-radius: 50%;
    height:3vh;
    width: 3vh;
}

.header__username {
    color: var(--text-color);
    margin-left: 20px;
    transition: .5s;
}

.header__profile__container:hover > .header__username {
    text-decoration: underline;
}

.header__profile__container:hover {
    cursor: pointer;
}

.header__logo {
    color: var(--text-color);
    text-shadow: 1px 1px 1px var(--text-color);
}

.header__logo:hover {
    cursor: pointer;
}

