.input {
    width: 100%;
    background: transparent;
    padding: 8px;
    border: solid 1px #ffffffbb;
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 22px;
    color: var(--text-color);
    transition: .2s;
}

.input:focus {
    border: solid 1px #ffffffbb;
    font-size: 24px;
}