.todo__users__container {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.assigned-users {
    height: 300px;
    background-color: rgba(0, 255, 255, 0.1);
    border-radius: 12px 12px 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
}

.todo__users__text {
    color: var(--text-color);
    font-size: 24px;
    letter-spacing: 30px;
    text-align: center;
}

.all-users {
    height: 300px;
    background-color: rgba(255, 0, 10, 0.1);
    border-radius: 0 0 12px 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
}

.user-element {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: solid 1px var(--border-color);
    padding: 6px;
    color: var(--text-color);
    font-size: 18px;
}

.user-element__btn {
    background: none;
    color: var(--text-color);
    border: none;
    font-size: 24px;
}

.user-element__btn:hover {
    cursor: pointer;
}