.notification-handler__container {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.notifications__container {
    position: absolute;
    height: auto;
    padding: 30px;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.notification-item {
    border: solid 1px var(--border-color);
    border-radius: 8px;
    padding: 20px;
    min-width: 300px;
    max-width: 500px;
    max-height: 300px;
    overflow-y: scroll;
    text-shadow: 1px 1px 15px #fff;
    font-size: 18px;
    cursor: pointer;
}

.error {
    background-color: #ff000099;
}

.notification {
    background-color: #00fffa99;
}