.tree-diagram__container {
    border: solid 1px var(--border-color);
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    backdrop-filter: blur(200px);
    background-color: #ffffff23;
    box-shadow: 1px 2px 8px #ffffffa0;
}