* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', Arial;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color-1: #03020aFF;
    --background-color-2: #000000FF;
    --background-pattern-1: #4d3f121e;
    --background-pattern-2: #ffffff05;
    --text-color: #f3f3f3;
    --border-color: #18171c;
    --link-color: #85e7e7;
}

body {
    background-color: var(--background-color-1);
}

body:before {
    content: "";
    width: 100%;
    height: 100%;
    background: radial-gradient(var(--background-pattern-1) 5%, var(--background-pattern-2));
    position: absolute;
    border-radius: 100%;
    top: -50%;
    left: 50%;
    translate: -50% 0;
}

